body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background: linear-gradient(rgb(0, 123, 255), rgb(220 212 43));
  color: white;
  font-weight: 900;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
}
section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background: white;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
h2 {
  color: rgb(220 212 43);
}
footer {
  background: linear-gradient(rgb(0, 123, 255), rgb(220 212 43));
  color: white;
  -webkit-text-stroke: 1px #000000;
  text-stroke: 1px #000000;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
ul {
  list-style: none;
}
.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.project-img {
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(220, 212, 43, 0.5);
  border: 2px solid rgb(220 212 43);
}
@media only screen and (min-width: 768px) {
  .project-img {
    width: 700px;
  }
}
.energetik-pro-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.energetik-pro-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .energetik-pro-item {
    flex-direction: row;
  }
}
.energetik-pro-item:first-child {
  margin-bottom: 40px;
}
.energetik-pro-text {
  max-width: 320px;
}
.energetik-pro-img {
  max-width: 315px;

  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgb(220 212 43);
  box-shadow: 10px 10px 10px rgba(220, 212, 43, 0.5);
}
.mobilograf-img {
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(220, 212, 43, 0.5);
  border: 2px solid rgb(220 212 43);
}
@media only screen and (min-width: 768px) {
  .mobilograf-img {
    width: 700px;
  }
}
.energetik-pro-box {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
h3 {
  margin: 0 0 5px;
}
.energetik-pro-title {
  text-align: center;
}

.swiper-container {
  height: 400px;
  overflow: hidden;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.training-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .training-container {
    flex-direction: row;
  }
}
.training-box {
  max-width: 320px;
}
.training-video {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(220, 212, 43, 0.5);
  border: 2px solid rgb(220 212 43);
}
